<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter Plot with Plotly</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="myDiv" style="width: 100%; height: 100%;"></div>
    <script>

    async function callAPI(inputText, buttonId) {

        inputText = 'RELIANCE';
        buttonId = '';

        const response = await fetch(`http://127.0.0.1:5000/api/stock/chart`, {
            method: 'POST', // or 'POST', depending on your API
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ stock_code: inputText , time_duration : buttonId })
        });

        const data1 = await response.json();

        var trace1 = {
            x: data1['x_axis'],
            y: data1['y_axis'],
            type: 'scatter'
        };
        console.log(data1);
        console.log(data1['x_axis']);
        console.log(data1.x_axis);
        console.log(data1['y_axis']);
        console.log(data1.y_axis);

        var data = [trace1];

        Plotly.newPlot('myDiv', data);
    };

    callAPI('RELIANCE', '');
    </script>
</body>
</html>
